.Payment {
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  grid-row-gap: 1.5em;
  display: grid;

  &__table {
    margin: 20px 0;
    width: 100%;
    th {
      text-align: start;
    }
  }

  &__back {
    margin: 10px 0 0 0;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item .fas {
    margin: 0 0 0 10px;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
  &__item button {
    background-color: transparent;
    border: none;
    outline: none;
  }
  &__element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #eee;
  }
  &__element h4 {
    margin: 0;
  }
}
